<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" href="/img/icon.png" />

    <link
      rel="stylesheet"
      media="screen and (max-width: 576px)"
      href="/css/mobile.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"
      integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc="
      crossorigin="anonymous"
    />
    <title>CurrencyConverter</title>
  </head>
  <body>
    <div class="all-content">
      <section>
        <div class="container">
          <div class="form-container">
            <h1>Currency Converter</h1>

            <form id="form-1">
              <div class="form-group row source-div">
                <input
                  type="number"
                  placeholder="0.00"
                  class="form-control col-5"
                  name="sourceVal"
                  id="sourceVal"
                  required
                />
                <!-- <div class="col-1"></div> -->
                <select
                  name="currencies"
                  id="my-currency-1"
                  class="form-control col-7"
                >
                  <option value="NGN">Nigerian Naira</option>
                  <option value="USD">United States Dollar</option>
                  <option value="GBP">Great Britain Pound</option>
                  <option value="EUR">Euro</option>
                  <option value="CAD">Canadian Dollar</option>
                  <option value="ZAR">South African Rand</option>
                  <option value="UAH">Ukrainian Hryvnia</option>
                  <option value="TRY">Turkish Lira</option>
                  <option value="SAR">Saudi Riyal</option>
                  <option value="RUB">Russian Ruble</option>
                  <option value="PLN"> Polish Zloty</option>
                  <option value="PKR">Pakistani Rupee</option>
                  <option value="MXN">Mexican Peso</option>
                  <option value="JPY">Japanese Yen</option>
                  <option value="INR">Indian Rupee</option>
                  <option value="CNY">Chinese Yuan</option>
                  <option value="CHF">Swiss Franc</option>
                  <option value="AUD">Australian Dollar</option>
                  <option value="AED">UAE Dirham</option>
                </select>
              </div>
              <div class="form-group form-inline destination-div row">
                <input
                  placeholder="result"
                  name="destinationVal"
                  id="destinationVal"
                  class="form-control col-5"
                  value=""
                  readonly
                />
                <!-- <div class="col-1"></div> -->
                <select
                  name="currencies"
                  id="my-currency-2"
                  class="form-control col-7"
                >
                  <option value="USD">United States Dollar</option>
                  <option value="NGN">Nigerian Naira</option>
                  <option value="GBP">Great Britain Pound</option>
                  <option value="EUR">Euro</option>
                  <option value="CAD">Canadian Dollar</option>
                  <option value="ZAR">South African Rand</option>
                  <option value="UAH">Ukrainian Hryvnia</option>
                  <option value="TRY">Turkish Lira</option>
                  <option value="SAR">Saudi Riyal</option>
                  <option value="RUB">Russian Ruble</option>
                  <option value="PLN"> Polish Zloty</option>
                  <option value="PKR">Pakistani Rupee</option>
                  <option value="MXN">Mexican Peso</option>
                  <option value="JPY">Japanese Yen</option>
                  <option value="INR">Indian Rupee</option>
                  <option value="CNY">Chinese Yuan</option>
                  <option value="CHF">Swiss Franc</option>
                  <option value="AUD">Australian Dollar</option>
                  <option value="AED">UAE Dirham</option>
                </select>
              </div>

              <button type="submit" id="first-submit" class="btn btn-primary">
                Submit
              </button>
            </form>

            <p>
              Note: Naira not supported natively by the API. Took $1=389.70
              Naira
            </p>
            <p>
              Currency Data from the
              <a href="https://www.exchangerate-api.com/">Exchange-Rate API</a>
            </p>
          </div>
        </div>
      </section>
    </div>
    <footer id="real-footer">
      <div class="real-footer-section">
        <h3>Designed by Ajibola Shodipo</h3>
        <ul>
          <li>
            <a target="_blank" href="http://www.twitter.com/sho_rendipity">
              <i class="fab fa-twitter"></i
            ></a>
          </li>
          <li>
            <a
              target="_blank"
              href="https://www.linkedin.com/in/ahmed-ajibola-shodipo/"
            >
              <i class="fab fa-linkedin fa-spin"></i
            ></a>
          </li>
          <li>
            <a target="_blank" href="https://github.com/ajibolashodipo">
              <i class="fab fa-github"></i
            ></a>
          </li>
        </ul>
      </div>
    </footer>

    <script src="/app.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
