.container {
  width: 97%;
  margin: 20% auto;
}
.form-container {
  width: 90%;
  padding: 5% 7.5%;
}

.form-container h1 {
  padding-bottom: 7.5%;
}

#first-submit {
  margin-top: 10%;
  margin-bottom: 5%;
}

.real-footer-section h3 {
  font-size: 0.8rem;
}
